.form__container input, button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 16px;
}

.form__container button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
